[ebay-config]
; this is fine till mid/end 2004
;compat-level = 305
compat-level = 359

; place keys and certificate here as provided from eBay
; this is the tripple for the sandbox
dev-key-test = ebd93fab-9d7b-45ef-94ad-f323cec03caf
app-key-test = ShantnuA-269a-4570-b43d-9e09967f2a99
cert-id-test = 1bfe8342-d510-4919-97f4-dbc4d38bda82

; this is the tripple for the production
dev-key-prod = xxx
app-key-prod = xxx
cert-id-prod = xxx

; primary site id, attention place always 0 for sandbox enviroment
site-id = 0
;site-id = 16
;site-id = 77

; xml encoding style
; 0 is utf-8 (ok for US sites), 1 is iso-8859-1
xml-encoding = 0
;xml-encoding = 1

; xml-extra-decode will add an extra utf8_encode to all returned data
; only used within UTF-8 encoding
 xml-extra-decode = 2

; 1 = direct access, 0 = integration layer
api-mode = 1

; Prod:    https://api.ebay.com/ws/api.dll
; Sandbox: https://api.sandbox.ebay.com/ws/api.dll
; 0 = production, 1 = sandbox
;app-mode = 0
app-mode = 1

user = TESTUSER_SHAN
password = OOOSA21

; internal for serialization
serialize-folder=/home/obndemo1/public_html/tmp/

[ebay-transaction-config]
; 1 to 200
max-transactions-per-page = 200
; 1 is descriptive errors, 0 is minimum
error-level = 1
error-language=77
; timeout in secs for ebay-call
; take care retrieving transactions might produce a lot of data !
request-timeout = 3600
; switch off compression if your system does not support it (gzip in cURL needed)
use-http-compression=0

[logging]
log-file=/home/obndemo1/public_html/tmp/ebay.log
;log-level=10
;log-mode=3

[debugging]
;debug-profiling=1
;debug-showin=1
debug-showout=1
debug-curl-verbose=1

[raw-logging]
;raw-log-mode=2
;raw-log-name=eBayData
;raw-log-path=/var/tmp
;raw-log-seq=1

[token]
token-pickup-file=/home/obndemo1/public_html/tmp/sandbox.token
;token-pickup-file=/home/obndemo1/public_html/tmp/production.token
token-mode=1